
/* site47_head_col0_hanoilab */ 
@charset "UTF-8";
.site47_head_col0_hanoilab {
  width: 100%;
}
.site47_head_col0_hanoilab .top {
  width: 100%;
  float: left;
  padding: 10px 0;
}
.site47_head_col0_hanoilab .top .col-sm-6 {
  float: left;
}
.site47_head_col0_hanoilab .top .col-sm-6:nth-child(1) {
  padding-left: 0;
}
.site47_head_col0_hanoilab .top .col-sm-6:nth-child(3) {
  padding-right: 0;
  float: right;
}
.site47_head_col0_hanoilab .top .col-lg-4 {
  max-width: 31%;
}
.site47_head_col0_hanoilab .top .col-lg-2 {
  max-width: 19%;
}
.site47_head_col0_hanoilab .top .logo_hanoilab {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.site47_head_col0_hanoilab .top .logo_hanoilab .logo {
  width: 65px;
  height: 65px;
}
.site47_head_col0_hanoilab .top .logo_hanoilab .logo a img {
  width: 100%;
  height: 100%;
}
.site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab {
  padding: 10px 0 0 7px;
}
.site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab a {
  text-decoration: none;
}
.site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab a:nth-child(1) {
  font-family: UTM Impact;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #FF6400;
}
.site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab a:nth-child(2) {
  font-family: SVN-Aguda;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #FF6400;
}
.site47_head_col0_hanoilab .top .box-search .form-box-search {
  position: relative;
  margin-top: 7px;
}
.site47_head_col0_hanoilab .top .box-search .form-box-search .inputSearch {
  background-color: #fff;
  height: 45px;
  width: 100%;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  outline: 0;
  font-family: SVN-Poppins-light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #828282;
}
.site47_head_col0_hanoilab .top .box-search .form-box-search .submitForm {
  width: 10%;
  height: 45px;
  border: 0px;
  padding: 0px;
  float: right;
  cursor: pointer;
  background: #FF8000;
  border: 1px solid #FF8000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  right: 0;
}
.site47_head_col0_hanoilab .top .account .cart {
  padding: 0;
  margin-bottom: 0;
  float: left;
  margin-top: 20px;
  position: relative;
}
.site47_head_col0_hanoilab .top .account .cart .number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF6400;
  position: absolute;
  top: -15px;
  right: -18px;
}
.site47_head_col0_hanoilab .top .account .user {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  margin-top: 12px;
  text-align: right;
}
.site47_head_col0_hanoilab .top .account .user .sign {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-top: -5px;
}
.site47_head_col0_hanoilab .top .account .user .sign a {
  text-decoration: none;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  color: #343434;
}
.site47_head_col0_hanoilab .top .account .user .sign a:hover {
  color: #FF8000;
}
.site47_head_col0_hanoilab .bott {
  width: 100%;
  height: 55px;
  float: left;
  background: #6EA820;
}
.site47_head_col0_hanoilab .bott .menu-top {
  float: left;
}
.site47_head_col0_hanoilab .bott .menu-top .menu-wrapper {
  display: none;
  float: right;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}
.site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .hamburger {
  z-index: 3;
  position: relative;
  width: 25px;
  height: 30px;
  margin: 15px;
  margin: 7px 0 5px 0;
}
.site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .hamburger span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu {
  display: none;
  padding: 35px 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu .hanoilab {
  padding-left: 5px;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu .hanoilab a {
  text-decoration: none;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu .hanoilab a:nth-child(1) {
  font-family: UTM Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150.19%;
  color: #FF6400;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu .hanoilab a:nth-child(2) {
  font-family: SVN-Aguda;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150.19%;
  color: #FF6400;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link {
  padding-right: 28px;
  line-height: 55px;
  position: relative;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link:last-child {
  padding-right: 0;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .link {
  position: relative;
  font-family: SVN-Poppins-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #FFFFFF;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 {
  display: none;
  position: absolute;
  width: 240px;
  top: 100%;
  left: 0;
  background: #fff;
  z-index: 10;
  padding-bottom: 5px;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 {
  float: left;
  width: 100%;
  position: relative;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 a {
  margin-bottom: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-family: SVN-Poppins-Light;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none !important;
  border-bottom: 1px solid #ebebeb;
  color: #424242;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1:last-child a {
  border-bottom: 0;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  background: #fff;
  z-index: 10;
  padding-bottom: 5px;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 a {
  margin-bottom: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  font-family: SVN-Poppins-Light;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none !important;
  color: #424242;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 a:hover {
  color: #7AC041;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2:last-child a {
  border-bottom: 0;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1:hover .lv-1 {
  color: #7AC041;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1:hover .menu2 {
  display: block;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .fa-angle {
  position: relative;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .fa-angle:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 13px;
  right: 15px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .fa-angle:hover::before {
  border-top: 1px solid #7AC041;
  border-right: 1px solid #7AC041;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link:hover .sub-menu-1 {
  display: block;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .fa-angle-down {
  position: relative;
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .fa-angle-down:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: -10px;
  left: 3px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}
.site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link.active .link::after {
  width: 100%;
}
.site47_head_col0_hanoilab .bott .search-box {
  display: none;
  padding-right: 0;
  margin: 12px 60px 0 0;
  float: right;
  position: relative;
}
.site47_head_col0_hanoilab .bott .search-box .search {
  padding: 10px;
}
.site47_head_col0_hanoilab .bott .search-box .togglesearch {
  background: #E8E8E4;
  position: absolute;
  top: 55px;
  right: -11px;
  width: 350px;
  height: 60px;
  line-height: 55px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #7AC041;
  display: none;
  z-index: 10;
}
.site47_head_col0_hanoilab .bott .search-box .togglesearch::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #7AC041;
}
.site47_head_col0_hanoilab .bott .search-box .togglesearch input[type=text] {
  width: 220px;
  line-height: 17px;
  padding: 5px 10px;
  font-family: SVN-Poppins-Light;
  font-size: 14px;
  margin-left: 23px;
  border: 1px solid #7AC041;
  outline: none;
}
.site47_head_col0_hanoilab .bott .search-box .togglesearch input[type=button] {
  width: 80px;
  line-height: 17px;
  padding: 5px 0;
  background: #7AC041;
  font-family: SVN-Poppins-Light;
  font-size: 14px;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #7AC041;
  outline: none;
  cursor: pointer;
}
.site47_head_col0_hanoilab .bott .item-dathang {
  float: right;
  padding-top: 7px;
}
.site47_head_col0_hanoilab .bott .item-dathang button a {
  text-decoration: none;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: 600;
  color: #6EA820;
  font-size: 14px;
  line-height: 21px;
}
.site47_head_col0_hanoilab .bott .item-dathang:hover button a {
  color: #6EA820;
}
.site47_head_col0_hanoilab .croll {
  position: fixed;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.35);
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
}

@media (max-width: 1200px) {
  .site47_head_col0_hanoilab .top .logo_hanoilab {
    max-width: 32%;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .logo {
    width: 55px;
    height: 55px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab {
    padding-top: 5px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab .title4 {
    font-size: 13px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab .title5 {
    font-size: 12px;
  }
  .site47_head_col0_hanoilab .top .col-lg-6 {
    width: 45%;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 {
    max-width: 23%;
  }
  .site47_head_col0_hanoilab .bott .container {
    position: relative;
  }
  .site47_head_col0_hanoilab .bott .menu-top {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 15px;
    margin-top: 8px;
  }
  .site47_head_col0_hanoilab .bott .menu-top ::-webkit-scrollbar {
    width: 3px;
  }
  .site47_head_col0_hanoilab .bott .menu-top ::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu {
    padding-left: 0;
    top: 0;
    display: block;
    position: fixed;
    background: #FFFFFF;
    -webkit-box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
            box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
    z-index: 999;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0 0 0 0;
    height: 100%;
    width: 400px;
    right: 100%;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link {
    width: 100%;
    padding: 0;
    float: left;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link:last-child {
    border: 0;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .link {
    width: 100%;
    padding: 20px 0px 20px 25px;
    text-transform: none;
    font-size: 18px;
    color: #424242;
    font-family: SVN-Poppins-Light;
    font-weight: normal;
    float: left;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .link::after {
    display: none;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .link:hover {
    color: #6EA820;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 {
    position: relative;
    float: left;
    width: 100%;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 {
    padding-left: 15px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 a {
    padding: 0 30px;
    position: relative;
    font-family: SVN-Poppins-Light;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 a::before {
    position: absolute;
    content: "►";
    left: 5px;
    top: 0;
    font-size: 14px;
    color: #ccc;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 a {
    padding: 0 30px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .sub-menu-1 .fa-angle::before {
    top: 25px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .fa-angle-down {
    position: absolute;
    right: 50px;
    top: 30px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .fa-angle-down::before {
    width: 8px;
    height: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper {
    display: block;
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .hamburger span:nth-child(1) {
    top: 0;
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .hamburger span:nth-child(2) {
    top: 9px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .hamburger span:nth-child(3) {
    top: 18px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .open span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .open span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .site47_head_col0_hanoilab .bott .menu-top .menu-wrapper .open span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-135deg);
            transform: translateY(-9px) rotate(-135deg);
  }
  .site47_head_col0_hanoilab .bott .item-dathang {
    float: left;
  }
}
@media (max-width: 991px) {
  .site47_head_col0_hanoilab .top .logo_hanoilab {
    max-width: 47%;
  }
  .site47_head_col0_hanoilab .top .col-lg-6 {
    display: none;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 {
    max-width: 33%;
  }
  .site47_head_col0_hanoilab .bott .search-box {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .site47_head_col0_hanoilab .top .logo_hanoilab {
    max-width: 58%;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .logo {
    width: 45px;
    height: 45px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab {
    padding-top: 0px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab .title4 {
    font-size: 10px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab .title5 {
    font-size: 9px;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 {
    max-width: 42%;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 .cart {
    margin-top: 15px;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 .user {
    margin-top: 7px;
  }
}
@media screen and (max-width: 486px) {
  .site47_head_col0_hanoilab .top .logo_hanoilab {
    max-width: 55%;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 {
    max-width: 45%;
  }
}
@media screen and (max-width: 456px) {
  .site47_head_col0_hanoilab .top .logo_hanoilab {
    max-width: 60px;
  }
  .site47_head_col0_hanoilab .top .logo_hanoilab .hanoilab {
    display: none;
  }
  .site47_head_col0_hanoilab .top .col-lg-2 {
    max-width: 205px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu {
    width: 85%;
  }
}
@media screen and (max-width: 425px) {
  .site47_head_col0_hanoilab .bott .search-box {
    margin-right: 40px;
  }
  .site47_head_col0_hanoilab .bott .search-box .togglesearch {
    width: 300px;
    height: 49px;
    line-height: 40px;
  }
  .site47_head_col0_hanoilab .bott .search-box .togglesearch input[type=text] {
    width: 212px;
    font-size: 13px;
    margin-left: 5px;
  }
  .site47_head_col0_hanoilab .bott .search-box .togglesearch input[type=button] {
    font-size: 13px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu .hanoilab a:nth-child(1) {
    font-size: 11px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .logo-menu .hanoilab a:nth-child(2) {
    font-size: 9px;
  }
  .site47_head_col0_hanoilab .bott .menu-top .main-menu .menu-link .link {
    font-size: 16px;
  }
}
@media screen and (max-width: 348px) {
  .site47_head_col0_hanoilab .bott .search-box .togglesearch {
    width: 270px;
  }
  .site47_head_col0_hanoilab .bott .search-box .togglesearch input[type=text] {
    width: 192px;
  }
  .site47_head_col0_hanoilab .bott .search-box .togglesearch input[type=button] {
    width: 70px;
  }
}
/* site47_head_col0_hanoilab */ 

/* site47_foot_col0_hanoilab */ 
.site47_foot_col0_hanoilab {
  width: 100%;
  overflow: hidden;
}
.site47_foot_col0_hanoilab .top {
  background-image: url("../../../images/site47/bg_foot_top.png");
  background-size: cover;
  padding: 35px 0;
}
.site47_foot_col0_hanoilab .top .item-Account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 {
  text-align: center;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4:nth-child(1) {
  padding-left: 0;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4:nth-child(3) {
  padding-right: 0;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .Account {
  cursor: pointer;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .tinh h3 {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: normal;
  line-height: 132.5%;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 20px;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .tell {
  margin-bottom: 15px;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .tell img {
  margin-right: 10px;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .tell a {
  text-decoration: none;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #FFFFFF;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .tell span {
  color: #FFFFFF;
  margin: 0 7px;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .mail img {
  margin-right: 7px;
}
.site47_foot_col0_hanoilab .top .item-Account .col-lg-4 .mail a {
  text-decoration: none;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}
.site47_foot_col0_hanoilab .bott {
  background: #FAFAFA;
  padding-top: 50px;
}
.site47_foot_col0_hanoilab .bott .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site47_foot_col0_hanoilab .bott .foot .left {
  width: 32%;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo .logo {
  width: 65px;
  height: 65px;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo .logo a img {
  width: 100%;
  height: 100%;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo .hanoilab {
  padding: 10px 0 0 7px;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo .hanoilab a {
  text-decoration: none;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo .hanoilab a:nth-child(1) {
  font-family: UTM Impact;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #6EA820;
}
.site47_foot_col0_hanoilab .bott .foot .left .item_logo .hanoilab a:nth-child(2) {
  font-family: SVN-Aguda;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #6EA820;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi h3 {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin {
  border-bottom: 1px dashed #BDBDBD;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin:last-child {
  border: none;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin .check img {
  margin-right: 5px;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin .check span {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 146.97%;
  color: #6EA820;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin .in {
  padding: 0 20px;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin .in a {
  text-decoration: none;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 146.97%;
  color: #333333;
}
.site47_foot_col0_hanoilab .bott .foot .left .diachi .checkin .in a:hover {
  color: #6EA820;
}
.site47_foot_col0_hanoilab .bott .foot .center {
  width: 30%;
  padding-top: 50px;
  padding-left: 100px;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp h3 {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_dmsp {
  list-style: url("../../../images/site47/coolicon.png");
  padding-left: 20px;
  margin-bottom: 35px;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_dmsp li {
  padding-left: 7px;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_dmsp li a {
  text-decoration: none;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 15px;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_dmsp li a:hover {
  color: #6EA820;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_payment li {
  margin-right: 7px;
}
.site47_foot_col0_hanoilab .bott .foot .center .danhmucsp .list_payment li:last-child {
  margin: 0;
}
.site47_foot_col0_hanoilab .bott .foot .right {
  width: 38%;
  padding-top: 50px;
  padding-left: 50px;
}
.site47_foot_col0_hanoilab .bott .foot .right h3 {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.site47_foot_col0_hanoilab .bott .foot .right p {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
  margin-bottom: 15px;
}
.site47_foot_col0_hanoilab .bott .foot .right .item-input {
  border: 1px solid #6EA820;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  overflow: hidden;
}
.site47_foot_col0_hanoilab .bott .foot .right .item-input input {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  background: #fff;
  padding-left: 10px;
}
.site47_foot_col0_hanoilab .bott .foot .right .item-input button {
  margin: 5px 0;
  margin-right: 5px;
  width: 63px;
  height: 38px;
  background: #6EA820;
  border-radius: 4px;
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #FAFAFA;
}
.site47_foot_col0_hanoilab .bott .foot .right .lienket h3 {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.site47_foot_col0_hanoilab .bott .bot_foot {
  width: 100%;
}
.site47_foot_col0_hanoilab .bott .bot_foot p {
  font-family: SVN-Poppins-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 132.5%;
  color: #4F4F4F;
  opacity: 0.6;
  text-align: center;
  padding: 17px 0;
}

.fix-lh {
  position: fixed;
  right: 5%;
  outline: none;
  cursor: pointer;
  z-index: 79;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fix-account {
  bottom: 365px;
}

.fix-face {
  bottom: 320px;
}

.fix-zalo {
  bottom: 275px;
}

.fix-mes {
  bottom: 230px;
}

.fix-tell {
  bottom: 185px;
}

.backtotop {
  position: fixed;
  bottom: 140px;
  right: 5%;
  outline: none;
  cursor: pointer;
  z-index: 79;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1199px) {
  .site47_foot_col0_hanoilab .bott .foot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site47_foot_col0_hanoilab .bott .foot .left {
    width: 45%;
    float: left;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .site47_foot_col0_hanoilab .bott .foot .center {
    width: 100%;
    float: left;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-left: 0;
  }
  .site47_foot_col0_hanoilab .bott .foot .right {
    width: 55%;
    float: left;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 991px) {
  .site47_foot_col0_hanoilab .top .item-Account {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .site47_foot_col0_hanoilab .top .item-Account .col-lg-4 {
    min-width: 46%;
    margin-bottom: 25px;
  }
  .site47_foot_col0_hanoilab .top .item-Account .col-lg-4:nth-child(1) {
    padding-left: 15px;
  }
  .site47_foot_col0_hanoilab .top .item-Account .col-lg-4:nth-child(3) {
    padding-right: 15px;
  }
  .site47_foot_col0_hanoilab .bott .foot .left {
    width: 100%;
  }
  .site47_foot_col0_hanoilab .bott .foot .right {
    width: 100%;
    padding-left: 0;
    padding-top: 35px;
  }
  .site47_foot_col0_hanoilab .bott .foot .right .item-input {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .site47_foot_col0_hanoilab .top .item-Account .col-lg-4 {
    min-width: 100%;
    margin-bottom: 50px;
  }
}
/* site47_foot_col0_hanoilab */ 
