.site41_form_col12_dangkycanhan {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
    padding: 86px 0;

    a {
        text-decoration: none;
    }

    .item-register {
        display: flex;

        .login_form {
            background: rgba(250, 250, 250, 0.9);
            padding: 65px 87px 0 88px;
            width: 50%;

            h2 {
                font-family: SVN-Poppins-Bold;
                font-style: normal;
                font-weight: normal;
                line-height: 150.19%;
                text-transform: uppercase;
                color: #333333;
                margin-bottom: 27px;
                text-align: center;
            }

            form {
                color: #4F4F4F;
                line-height: 150.19%;

                input {
                    padding: 12px;
                    width: 100%;
                    margin-bottom: 20px;
                    background: inherit;
                    appearance: none;
                    outline: 0;
                    border: 1px solid #E0E0E0;
                    box-sizing: border-box;
                    border-radius: 5px;
                    color: #000;

                    &:nth-child(1) {
                        background: url('../../images/site47/img_dk1.png');
                        background-position: right;
                        background-repeat: no-repeat;
                        background-position-x: 96%;
                    }

                    &:nth-child(2) {
                        background: url('../../images/site47/phone_dk1.png');
                        background-position: right;
                        background-repeat: no-repeat;
                        background-position-x: 96%;
                    }

                    &:nth-child(3) {
                        background: url('../../images/site47/input_img.png');
                        background-position: right;
                        background-repeat: no-repeat;
                        background-position-x: 96%;
                    }

                    &:nth-child(4) {
                        background: url('../../images/site47/input_img1.png');
                        background-position: right;
                        background-repeat: no-repeat;
                        background-position-x: 96%;
                    }

                    &:nth-child(5) {
                        background: url('../../images/site47/input_img1.png');
                        background-position: right;
                        background-repeat: no-repeat;
                        background-position-x: 96%;
                    }
                }

                input::placeholder {
                    line-height: 150.19%;
                    color: #BDBDBD;
                }

                input::-webkit-input-placeholder {
                    line-height: 150.19%;
                    color: #BDBDBD;
                }

                button {
                    background: #6EA820;
                    border: 1px solid #E0E0E0;
                    box-sizing: border-box;
                    border-radius: 5px;
                    width: 100%;
                    height: 50px;
                    line-height: 150.19%;
                    color: #FFFFFF;
                }
            }

            .or {
                font-family: SVN-Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                line-height: 150.19%;
                color: #4F4F4F;
                margin-top: 22px;
                margin-bottom: 16px;
                text-align: center;
            }

            a {
                line-height: 150.19%;
                color: #FFFFFF;
                display: inline-block;
                height: 50px;
            }

            .login_flex {
                display: flex;
                margin-bottom: 23px;

                .btn_f {
                    background: #2275BC;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 48%;

                    img {
                        margin-right: 20px;
                    }
                }

                .btn_g {
                    background: #FF6400;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 48%;
                    margin-left: auto;

                    img {
                        margin-right: 20px;
                    }
                }
            }
        }

        .img_login {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


// responsive


@media (max-width: 1199px) {
    .site41_form_col12_dangkycanhan {
        padding: 50px 0;

        .item-register {
            .login_form {
                background: rgba(250, 250, 250, 0.9);
                padding: 40px;
                width: 47%;
            }

            .img_login {
                width: 53%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .site41_form_col12_dangkycanhan {
        padding: 25px 0;

        .item-register {
            flex-direction: column;

            .login_form {
                padding: 35px;
                width: 100%;
            }

            .img_login {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .site41_form_col12_dangkycanhan {
        padding: 0;

        .item-register {
            flex-direction: column;

            .login_form {
                padding: 15px;

                h2 {
                    margin-bottom: 15px;
                }

                .login_flex {
                    margin-bottom: 0px;
                }
            }

            .img_login {
                padding: 12px;
            }
        }
    }
}