.page-chitiettintuc-news {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc {
  width: 72%;
  padding-right: 54px;
  margin-bottom: 50px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .breadcrumb {
  padding: 30px 0;
  background-color: #FFFFFF;
  margin: 0;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .breadcrumb a {
  text-decoration: none;
  font-size: 14px;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .breadcrumb a:nth-child(1) {
  min-width: 91px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .breadcrumb a:nth-child(2) {
  min-width: 67px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product {
  margin-bottom: 35px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title {
  margin-bottom: 30px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title h1 {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #333333;
  margin-bottom: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .date img {
  margin-top: -4px;
  margin-right: 7px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .date span {
  display: contents;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 150.36%;
  color: #828282;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button {
  outline: 0;
  margin-right: 7px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  padding: 2px 7px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(1) {
  background: #1877F2;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(1) img {
  padding-right: 7px;
  margin-top: -1px;
  margin-left: 3px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(2) {
  background: #1877F2;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(3) {
  background: #03A5FA;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(3) img {
  padding-right: 3px;
  margin-top: -2px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(4) {
  background: #1B95E0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(4) img {
  padding-right: 6px;
  margin-top: -2px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button:nth-child(5) {
  background: #C4C4C4;
  margin-right: 0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product {
  width: 100%;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .images {
  width: 100%;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .images img {
  width: 100%;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .images p {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 150.36%;
  color: #2D3E50;
  padding: 25px 0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .desi {
  position: relative;
  width: 100%;
  padding: 20px 0;
  padding-left: 30px;
  background: #FFFFFF;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  line-height: 150.19%;
  color: #2D3E50;
  margin-bottom: 25px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .desi::before {
  position: absolute;
  content: "";
  left: -1px;
  top: 15%;
  width: 5px;
  height: 70%;
  background: #FF6400;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .image {
  width: 100%;
  margin-bottom: 17px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product .image img {
  width: 100%;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .product p {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 150.36%;
  color: #2D3E50;
  margin-bottom: 17px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item_share_admin {
  margin: 25px 0;
  padding: 15px 0;
  border-top: 1px dashed #CBCBCB;
  border-bottom: 1px dashed #CBCBCB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item_share_admin .share span {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  color: #494D52;
  padding-right: 30px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item_share_admin .share .fb {
  padding-right: 20px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item_share_admin .admin p {
  font-family: SVN-Poppins-Regular;
  margin: 0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  padding-left: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F8F8F8;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .comment-n .bold {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  color: #494D52;
  padding-right: 5px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .comment-n .light {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  color: #494D52;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .check-cmt {
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .check-cmt span {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  color: #494D52;
  padding-right: 25px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .check-cmt .item-cmt {
  position: relative;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .check-cmt .item-cmt select {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  color: #494D52;
  padding: 7px 25px 7px 7px;
  background: #FFFFFF;
  border: 1px solid #BABABA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .check-cmt .item-cmt::before {
  position: absolute;
  content: url("../../images/site45/comt.png");
  top: 5px;
  right: 5px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-input-comment {
  width: 100%;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-input-comment .image_cmt {
  width: 15%;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-input-comment .image_cmt img {
  width: 100%;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-input-comment input {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  color: #494D52;
  width: 85%;
  outline: 0;
  padding: 0 0 65px 25px;
  border: 1px solid #BABABA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .comment_in_fb img {
  margin-top: -6px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .comment_in_fb a {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
  padding-left: 10px;
  color: #2275BC;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan {
  position: relative;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10%;
  height: 4px;
  background: #FF6400;
  border-radius: 10px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan::before {
  position: absolute;
  content: "";
  top: 1px;
  right: 0;
  width: 88%;
  height: 1px;
  background: #E0E0E0;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan h3 {
  padding-top: 26px;
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi {
  margin: 0 -15px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news {
  width: 100%;
  padding: 0 15px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news:hover .title h3 {
  color: #6EA820;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .image {
  width: 100%;
  height: 222.32px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .image img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title h3 {
  font-family: SVN-Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #5A5A5A;
  cursor: pointer;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title p {
  font-family: SVN-Poppins-Medium;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #5A5A5A;
  cursor: pointer;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title .date img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 15px;
}
.page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title .date span {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #828282;
}
.page-chitiettintuc-news .framis-left-item {
  width: 28%;
  padding-top: 90px;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 19%;
  height: 4px;
  background: #6EA820;
  border-radius: 10px;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat::before {
  position: absolute;
  content: "";
  top: 1px;
  right: 0;
  width: 79%;
  height: 1px;
  background: #E0E0E0;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat h3 {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 0.5px solid #EAEAEA;
  padding-bottom: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .image {
  width: 103px;
  height: 70px;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .image img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .detail {
  padding-left: 15px;
  width: 67%;
}
.page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .detail a {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #333333;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 19%;
  height: 4px;
  background: #6EA820;
  border-radius: 10px;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay::before {
  position: absolute;
  content: "";
  top: 1px;
  right: 0;
  width: 79%;
  height: 1px;
  background: #E0E0E0;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay h3 {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 0.5px solid #EAEAEA;
  padding-bottom: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .image {
  width: 107px;
  height: 62px;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .image img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .detail {
  width: 67%;
  padding-left: 15px;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .detail h3 {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #333333;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .detail .giaban a {
  text-decoration: none;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .detail .giaban a:nth-child(1) {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #666666;
  margin-right: 5px;
}
.page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .detail .giaban a:nth-child(2) {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #6EA820;
}
.page-chitiettintuc-news .framis-left-item .banner-quangcao {
  width: 100%;
  margin-bottom: 30px;
}
.page-chitiettintuc-news .framis-left-item .banner-quangcao img {
  width: 100%;
}

@media (max-width: 1199px) {
  .page-chitiettintuc-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc {
    width: 100%;
    padding: 0;
  }
  .page-chitiettintuc-news .framis-left-item {
    width: 100%;
    padding-top: 25px;
  }
  .page-chitiettintuc-news .framis-left-item .tinnoibat {
    width: 70%;
  }
  .page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .image {
    width: 30%;
    height: 120px;
  }
  .page-chitiettintuc-news .framis-left-item .sanphambanchay {
    width: 70%;
  }
  .page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .image {
    width: 30%;
    height: 120px;
  }
  .page-chitiettintuc-news .framis-left-item .banner-quangcao {
    width: 330px;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .image {
    height: 195px;
  }
  .page-chitiettintuc-news .framis-left-item .tinnoibat {
    width: 100%;
  }
  .page-chitiettintuc-news .framis-left-item .sanphambanchay {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc {
    margin-bottom: 20px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .date {
    width: 100%;
    margin-bottom: 25px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation {
    width: 100%;
    text-align: right;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .title .gettit .operation button {
    margin-bottom: 10px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .check-cmt span {
    padding-right: 10px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-input-comment input {
    padding-bottom: 25px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .image {
    height: 145px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title h3 {
    -webkit-line-clamp: 2;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .title p {
    -webkit-line-clamp: 1;
  }
  .page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .image {
    height: 85px;
  }
  .page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .image {
    height: 85px;
  }
}
@media screen and (max-width: 425px) {
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment {
    display: -ms-grid;
    display: grid;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-comment .comment-n {
    margin-bottom: 15px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .item-product .item-input-comment input {
    padding-bottom: 15px;
  }
  .page-chitiettintuc-news .site47_new_col8_chitiettintuc .tinlienquan .slide-doi .item-news .image {
    height: 200px;
  }
  .page-chitiettintuc-news .framis-left-item .tinnoibat .hot-news-item .item-news .image {
    height: 60px;
  }
  .page-chitiettintuc-news .framis-left-item .sanphambanchay .item-list-deal .item-sp .image {
    height: 60px;
  }
  .page-chitiettintuc-news .framis-left-item .banner-quangcao {
    width: 100%;
  }
}