/* Đặt về mặc định các thẻ trong css */

*{
    font-family: SVN-Poppins-Light;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


@media (min-width: 1200px) {

    .container_fix {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        /* overflow: hidden; */
    }
}





html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}